[flake8]
exclude = .git,__pycache__,build,env,node_modules,patch.py
filename = *.py
max-complexity = 10
max-line-length = 150
import-order-style = pep8
ignore =
    #  E221 multiple spaces before operator
    E221,
    # comparison to True should be 'if cond is True:' or 'if cond (it's needed for SQLAlchemy)
	E712,
	# Class or method is too complex
	C901