*.pyc
.idea

instance/
env/
server/frontend/node_modules/
server/frontend/dist/
server/frontend/npm-debug.log*
server/frontend/yarn-debug.log*
server/frontend/yarn-error.log*
server/local.*.db
server/test.*.db