<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="panel panel-left panel-cover layout-dark">
    <div class="content-block-title">Menu</div>
    <div class="list-block">
        <ul>
            <li><a href="/learn" class="item-link external">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Learn</div>
                    </div>
                </div>
            </a></li>
        </ul>
    </div>
    <div class="list-block">
        <ul>
            <li>
                <form id="logoutForm" method="post" action="/api/logout?redirect=true">
                    <a href="javascript:;" onclick="document.getElementById('logoutForm').submit();" class="item-link external">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">Logout</div>
                            </div>
                        </div>
                    </a>
                </form>
            </li>
        </ul>
    </div>
</div>