<!DOCTYPE html>
<html>
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endblock %}

    <link rel="icon" href="/assets/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">


    <title>{% block title %}EnCabulary{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="/assets/css/framework7.ios.min.css">
    <link rel="stylesheet" href="/assets/css/framework7.ios.colors.min.css">
    {% endblock %}
    <link rel="stylesheet" href="/assets/css/site.css">
</head>


<body>
{% block body %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="/assets/js/framework7.min.js"></script>
{% endblock %}
</body>

</html>